dist/css/*
dist/fonts/*
dist/img/*
dist/js/*
dist/**/*.html
node_modules
node_modules/*
src/fonts/*
src/img/*
!src/img/favicon.ico
src/js/*
src/scss/*
!src/scss/style.scss
!src/scss/_overrides-custom.scss
package-lock.json